# Python
__pycache__/
*.py[cod]

# Secrets
secrets/*
*.env
*.key
*.pem
*.crt
*.jks
*.p12
*.json  
.env
.env.*

# Private keys/certs anywhere
*.pem
*.key
*.crt
*.cer
*.der


#nginx
nginx/letsencrypt/*

# Logs and junk
*.log
*.bak
*.tmp
*.swp

# Editor files
.vscode/
.idea/
.DS_Store
Thumbs.db
